.register-container{
    background-image: linear-gradient(to right, #207567, #358873, #4E9C81, #6BAF92);
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

.register {
    padding: 105px;
    padding-left: 425px;
    padding-right: 425px;
}

.register-div {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
    transform: translate(0%, 65% )
}

.steps-div {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}

.step-button {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 14%;
    height: 45px;
    border-radius: 45px;
    border: none;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.step-button:hover {
    background: #333333;
}

.sb1 {
    transform: translate(-350%, -100%);

}

.sb2 {
    transform: translate(-125%, -100%);
}

.sb3 {
    transform: translate(125%, -100%);
}

.sb4 {
    transform: translate(350%, -100%);
}

.input-reg, .input-email, .input-password, .input-fullname, .input-birthdate, .input-gender, .input-tel, .input-profession, .input-regnumber, .input-spec, .input-displacement {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    
    display: block;
    width: 230px;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.input-reg:focus + .focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

.input-fullname:focus + .focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

.input-email:focus + .focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

.input-password:focus + .focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

.input-birthdate:focus + .focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

.input-tel:focus + .focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

.input-regnumber:focus + .focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

.input-displacement:focus + .focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

.input-reg:focus + .focus-input + .symbol-input {
    color: #57b846;
    padding-left: 28px;
}

.input-fullname:focus + .focus-input + .symbol-input {
    color: #57b846;
    padding-left: 28px;
}

.input-email:focus + .focus-input + .symbol-input {
    color: #57b846;
    padding-left: 28px;
}

.input-password:focus + .focus-input + .symbol-input {
    color: #57b846;
    padding-left: 28px;
}

.input-birthdate:focus + .focus-input + .symbol-input {
    color: #57b846;
    padding-left: 28px;
}

.input-tel:focus + .focus-input + .symbol-input {
    color: #57b846;
    padding-left: 28px;
}

.input-regnumber:focus + .focus-input + .symbol-input {
    color: #57b846;
    padding-left: 28px;
}

.input-displacement:focus + .focus-input + .symbol-input {
    color: #57b846;
    padding-left: 28px;
}

.member-register {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: flex;
    transform: translate(0%, -15% );
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
  
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  
}
  
  .member-register:hover{
    color: #57b846;
  }

.container-next-button{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}
  
.next-button {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    transform: translate(150%, 55%);
  
    width: 25%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.next-button:hover {
    background: #333333;
}

.arrow-right {
    transform: translate(666px, 168px);
    color: white;
}

.next-button:hover + .focus-input + .symbol-input {
    color: #57b846;
}

.container-prev-button{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}

.prev-button {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    transform: translate(-150%, -77%);
  
    width: 25%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.prev-button:hover {
    background: #333333;
}

.arrow-left {
    transform: translate(415px, 168px);
    color: white;
}

.prev-button:hover + .focus-input + .symbol-input {
    color: #57b846;
}

.register-multi {
    position: inherit;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
    transform: translate(0%, 65% )
}

.space-div {
    padding-bottom: 59px;
    transform: translate(0px, 35px);
    z-index: -1;
}

.bar-div {
    transform: translate(-10%, -55%);
    width: 130%;
    height: 8px;
    background-color: #e6e6e6;
    z-index: -1;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.active {
    background: linear-gradient(#57b846);
}

.focus {
    background: #636363;
    
}

.input-avatar {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 5.5;
    color: #666666;
    text-align: center;
    
    display: block;
    width: 80px;
    background: #e6e6e6;
    height: 80px;
    border-radius: 75px;
    padding: 0 0px 0 0px;
    cursor: pointer;
    transform: translate(120px,5px);
    transition: 0.8s;
}

.avatar-preview {
    width: 80px;
    height: 80px;
    border-radius: 65px;
    position: absolute;
    transform: translate(-66px, 0px);
    
}

.avatar-input {
    transform: translate(68px, -194px);
    width: 120px;
}

input[type="file"] {
    display: none;
}

.file-input {
    transform: translate(-38px, -50px);
    width: 270px;
}

.input-file {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 3.3;
    color: #666666;
    text-align: initial;
    cursor: pointer;
    
    display: block;
    width: 230px;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    transform: translate(0px, 20px);
    transition: 0.8s;
}

.input-avatar:hover, .input-file:hover {
    color: white;
    background: #333333;
}

.docs-div {
    font-family: Poppins-Medium;
    font-size: 12px;

    width: 284px;
    height: 140px;
    transform: translate(0px, 20px);
}

.span-docs {
    position: inherit;
    transition: 0.8s;
    font-size: 17px;
    color: rgb(156, 17, 17);
}

.span-docs:hover {
    color: #57b846;
}

.li-docs {
    transform: translate(-40px, 0px);
    color:#333333;
    width: 324px;
    height: 40px;
    overflow: inherit;
}

.b4 {
    transform: translate(415px, 183px);
}

.b5 {
    transform: translate(666px, 183px);
}